.extraServicesWhite {
  border-radius: 50%;
  height: 100px !important;
  width: 100px;
  margin-top: -30px;
  margin-bottom: 15px;
}

span {
  margin-bottom: -30px;
  margin-left: 20px;
  margin-right: 20px;
}

.line-top-services {
  margin-bottom: 70px;
  margin-top: -70px;
}
